 
 <h1>Planes</h1>
 <!-- PLANES de FRANCODE-->
 
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-yellow">
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="/img/Plan1-128x128.png" alt="User Avatar">
                                    </div>
                                    <!-- /.widget-user-image -->
                                    <h3 class="widget-user-username">Plan Básico</h3>
                                    <h5 class="widget-user-desc">Gratis </h5>
                                </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">Proyectos <span class="pull-right badge bg-blue">1</span></a>
                                        </li>
                                        <li><a href="#">Seguidores<span class="pull-right badge bg-aqua">3</span></a></li>
                                        <li><a href="#">Lenguajes (CSS HTML JS)<span
                                                    class="pull-right badge bg-green">3</span></a></li>
                                        <li><a href="#">Soporte técnico <span class="pull-right badge bg-red">NO</span></a>
                                        <li><a href="#"><button type="button" class="btn btn-block btn-danger btn-sm">Solicitar</button></a>
                        
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-green">
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="/img/Plan2-128x128.png" alt="User Avatar">
                                    </div>
                                    <!-- /.widget-user-image -->
                                    <h3 class="widget-user-username">Plan Avanzado</h3>
                                    <h5 class="widget-user-desc">18 $</h5>
                                </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">Proyectos <span class="pull-right badge bg-blue">10</span></a>
                                        </li>
                                        <li><a href="#">Seguidores<span class="pull-right badge bg-aqua">30</span></a></li>
                                        <li><a href="#">Lenguajes (CSS HTML JS)<span
                                                    class="pull-right badge bg-green">10</span></a></li>
                                        <li><a href="#">Soporte técnico <span class="pull-right badge bg-yellow">SI</span></a>
                                        <li><a href="#"><button type="button" class="btn btn-block btn-danger btn-sm">Solicitar</button></a>
                        
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <!-- /.col -->
                           <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-blue">
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="/img/Plan3-128x128.png" alt="User Avatar">
                                    </div>
                                    <!-- /.widget-user-image -->
                                    <h3 class="widget-user-username">Plan Avanzado Plus</h3>
                                    <h5 class="widget-user-desc">28 $ </h5>
                                </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">Proyectos <span class="pull-right badge bg-blue">Ilimitados</span></a>
                                        </li>
                                        <li><a href="#">Seguidores<span class="pull-right badge bg-aqua">Ilimitados</span></a></li>
                                        <li><a href="#">Lenguajes (CSS HTML JS)<span
                                                    class="pull-right badge bg-green">Todos</span></a></li>
                                        <li><a href="#">Soporte técnico <span class="pull-right badge bg-yellow">SI</span></a>
                                        <li><a href="#"><button type="button" class="btn btn-block btn-danger btn-sm">Solicitar</button></a>
                        
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <!-- /.col -->
                    </div>